h1 {
	color: #CCFFFF;
}

body {
	margin: auto;
	background-color: #CCCCCC;
	background-image: url("bodyImage.png");
}


table {
    width: auto;
    background-color: white;
    opacity: 0.6;
}

th {
    height: 50px;
}

#presentedStats {
	text-align: center;
}

#answer {
	color: #CCFFFF;
}